@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  width: 100%;
  height: 65px;
  position: fixed;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(167, 160, 160, 0.4);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 180px;
  font-family: "Open Sans", sans-serif;
}

.header .search {
  display: flex;
  align-items: center;
}

.header .search i {
  color: #3737a7;
  font-size: 40px;
  margin-left: 10px;
}

.header .search input {
  width: 220px;
  height: 40px;
  border-radius: 30px;
  background-color: #ececec;
  margin-left: 10px;
  padding: 10px;
  font-size: 14px;
}

.header .search input::placeholder {
  color: #949494;
  padding: 10px;
  font-size: 14px;
}

.header .public__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .public__info .home__button {
  width: calc(85% / 5);
  text-align: center;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-bottom: 2.5px solid #3737a7;
}

.header .public__info .home__button i {
  font-size: 25px;
  color: #3737a7;
}

.header .public__info .menu__button {
  width: calc(85% / 5);
  text-align: center;
  border-radius: 8px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.header .public__info .menu__button:hover {
  background-color: #ececec;
}

.header .public__info .menu__button i {
  font-size: 25px;
  color: dimgray;
}

.header .personal__info {
  display: flex;
  align-items: center;
}

.header .personal__info .user {
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 0px 10px;
}

.header .personal__info .user:hover {
  background-color: #ececec;
}

.header .personal__info .user .user__img {
  margin-left: 2px;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  background-image: url(../img/user.jpg);
  background-size: cover;
  background-position: center;
}

.header .personal__info .user p {
  padding-left: 10px;
  font-weight: 900;
}

.header .personal__info .menu__btn {
  width: 45px;
  text-align: center;
  border-radius: 8px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ececec;
  margin: 3px;
}

.header .personal__info .menu__btn:hover {
  background-color: #dbdbdb;
}

.header .personal__info .menu__btn i {
  color: dimgray;
  font-size: 18px;
}

.body__wrapper {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1.2fr 3fr 1.2fr;
  grid-gap: 110px;
  font-family: "Open Sans", sans-serif;
  padding: 90px 20px 20px 20px;
}

.body__wrapper .left__part {
  display: grid;
  grid-template-rows: 2fr 2fr;
}

.body__wrapper .left__part .user__groups {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #dbdbdb;
}

.body__wrapper .left__part .user__groups .user {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.body__wrapper .left__part .user__groups .user:hover {
  background-color: #ececec;
}

.body__wrapper .left__part .user__groups .user .user__img {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  background-image: url(../img/user.jpg);
  background-size: cover;
  background-position: center;
}

.body__wrapper .left__part .user__groups .user .user__name {
  padding-left: 10px;
  font-weight: 900;
}

.body__wrapper .left__part .user__groups .item {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.body__wrapper .left__part .user__groups .item:hover {
  background-color: #ececec;
}

.body__wrapper .left__part .user__groups .item i {
  margin-left: 2px;
  font-size: 30px;
  color: #3737a7;
}

.body__wrapper .left__part .user__groups .item p {
  padding-left: 10px;
}

.body__wrapper .left__part .user__groups .item__more {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.body__wrapper .left__part .user__groups .item__more:hover {
  background-color: #ececec;
}

.body__wrapper .left__part .user__groups .item__more i {
  margin-left: 2px;
  font-size: 30px;
  color: #3737a7;
  padding: 0px 5px;
}

.body__wrapper .left__part .user__groups .item__more p {
  padding-left: 10px;
}

.body__wrapper .left__part .user__shortcuts {
  display: inline-block;
  width: 100%;
  padding: 10px;
}

.body__wrapper .left__part .user__shortcuts h3 {
  font-size: 18px;
  color: #858585;
  padding: 10px;
}

.body__wrapper .left__part .user__shortcuts .item {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.body__wrapper .left__part .user__shortcuts .item:hover {
  background-color: #ececec;
}

.body__wrapper .left__part .user__shortcuts .item i {
  margin-left: 2px;
  font-size: 30px;
  color: #3737a7;
}

.body__wrapper .left__part .user__shortcuts .item p {
  padding-left: 10px;
}

.body__wrapper .left__part .user__shortcuts .item__more {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.body__wrapper .left__part .user__shortcuts .item__more:hover {
  background-color: #ececec;
}

.body__wrapper .left__part .user__shortcuts .item__more i {
  margin-left: 2px;
  font-size: 30px;
  color: #3737a7;
  padding: 0px 5px;
}

.body__wrapper .left__part .user__shortcuts .item__more p {
  padding-left: 10px;
}
