.header {
  width: 100%;
  height: 65px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px rgba(167, 160, 160, 0.4);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 180px;
  font-family: $font1;
  .search {
    display: flex;
    align-items: center;
    i {
      color: rgb(55, 55, 167);
      font-size: 40px;
      margin-left: 10px;
    }
    input {
      width: 220px;
      height: 40px;
      border-radius: 30px;
      background-color: rgb(236, 236, 236);
      margin-left: 10px;
      padding: 10px;
      font-size: 14px;
      &::placeholder {
        color: rgb(148, 148, 148);
        padding: 10px;
        font-size: 14px;
      }
    }
  }
  .public__info {
    display: flex;
    align-items: center;
    justify-content: center;
    .home__button {
      width: calc(85% / 5);
      text-align: center;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      border-bottom: 2.5px solid rgb(55, 55, 167);
      i {
        font-size: 25px;
        color: rgb(55, 55, 167);
      }
    }
    .menu__button {
      width: calc(85% / 5);
      text-align: center;
      border-radius: 8px;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      &:hover {
        background-color: rgb(236, 236, 236);
      }
      i {
        font-size: 25px;
        color: rgb(105, 105, 105);
      }
    }
  }
  .personal__info {
    display: flex;
    align-items: center;
    .user {
      height: 45px;
      display: flex;
      align-items: center;
      border-radius: 50px;
      padding: 0px 10px;
      &:hover {
        background-color: rgb(236, 236, 236);
      }
      .user__img {
        margin-left: 2px;
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 50%;
        background-image: url(../img/user.jpg);
        background-size: cover;
        background-position: center;
      }
      p {
        padding-left: 10px;
        font-weight: 900;
      }
    }
    .menu__btn {
      width: 45px;
      text-align: center;
      border-radius: 8px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: rgb(236, 236, 236);
      margin: 3px;
      &:hover {
        background-color: rgb(219, 219, 219);
      }
      i {
        color: rgb(105, 105, 105);
        font-size: 18px;
      }
    }
  }
}

.body__wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 245, 245);
  display: grid;
  grid-template-columns: 1.2fr 3fr 1.2fr;
  grid-gap: 110px;
  font-family: $font1;
  padding: 90px 20px 20px 20px;
  .left__part {
    display: grid;
    grid-template-rows: 2fr 2fr;
    .user__groups {
      display: inline-block;
      width: 100%;
      padding: 10px;
      border-bottom: 2px solid rgb(219, 219, 219);
      .user {
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        &:hover {
          background-color: rgb(236, 236, 236);
        }
        .user__img {
          width: 30px;
          height: 30px;
          display: inline-block;
          border-radius: 50%;
          background-image: url(../img/user.jpg);
          background-size: cover;
          background-position: center;
        }
        .user__name {
          padding-left: 10px;
          font-weight: 900;
        }
      }
      .item {
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        &:hover {
          background-color: rgb(236, 236, 236);
        }
        i {
          margin-left: 2px;
          font-size: 30px;
          color: rgb(55, 55, 167);
        }
        p {
          padding-left: 10px;
        }
      }
      .item__more {
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        &:hover {
          background-color: rgb(236, 236, 236);
        }
        i {
          margin-left: 2px;
          font-size: 30px;
          color: rgb(55, 55, 167);
          padding: 0px 5px;
        }
        p {
          padding-left: 10px;
        }
      }
    }
    .user__shortcuts {
      display: inline-block;
      width: 100%;
      padding: 10px;
      h3 {
        font-size: 18px;
        color: rgb(133, 133, 133);
        padding: 10px;
      }
      .item {
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        &:hover {
          background-color: rgb(236, 236, 236);
        }
        i {
          margin-left: 2px;
          font-size: 30px;
          color: rgb(55, 55, 167);
        }
        p {
          padding-left: 10px;
        }
      }
      .item__more {
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        &:hover {
          background-color: rgb(236, 236, 236);
        }
        i {
          margin-left: 2px;
          font-size: 30px;
          color: rgb(55, 55, 167);
          padding: 0px 5px;
        }
        p {
          padding-left: 10px;
        }
      }
    }
  }
}

.middle__part {
  width: 100%;
  overflow: scroll;
  display: inline-block;
  padding: 20px;
  &::-webkit-scrollbar {
    display: none;
  }
  .card {
    width: 95%;
    margin-left: 2.5%;
    border-radius: 15px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(167, 160, 160, 0.4);
    &:first-of-type {
      margin-top: 30px;
    }
    &:last-of-type {
      margin-bottom: 30px;
    }
    .card__header {
      width: 100%;
      padding: 20px;
      display: grid;
      grid-template-columns: 0.2fr 3fr 0.3fr;
      grid-gap: 20px;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        display: inline-block;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
      }
      .name__surname {
        p {
          padding: 5px;
          font-weight: 900;
        }
        .date {
          font-weight: 300;
        }
      }
      .more {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        text-align: center;
        &:hover {
          background-color: rgb(236, 236, 236);
        }
        p {
          font-size: 25px;
          margin-top: 4px;
          font-weight: 900;
        }
      }
    }
    .card__content {
      width: 100%;
      padding: 10px 30px;
      display: inline-block;
      .content {
        width: 100%;
        padding: 0px 0px 10px 0px;
        display: inline-block;
      }
      .galery {
        width: 100%;
        padding: 5px 0px;
        display: inline-block;
        img {
          width: 100%;
        }
      }
      .one__photo {
        width: 100%;
      }
      .two__photos {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "two_1 two_2";
        align-items: center;
        justify-content: center;
        img {
          display: inline-block;
          padding: 0px 3px;
          &:nth-child(1){
            grid-area: two_1;
          }
          &:nth-child(2){
            grid-area: two_2;
          }
        }
      }
      .three__photos {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "three_1 three_1 three_1 three_1 three_2 three_2"
        "three_1 three_1 three_1 three_1 three_2 three_2"
        "three_1 three_1 three_1 three_1 three_3 three_3"
        "three_1 three_1 three_1 three_1 three_3 three_3";
        img {
          padding: 0px 3px;
          &:nth-child(1){
            grid-area: three_1;
          }
          &:nth-child(2){
            grid-area: three_2;
          }
          &:nth-child(3){
            grid-area: three_3;
          }
        }
      }
    }
    .card__footer {
      padding: 20px;
      width: 100%;
      .card__footer1 {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        .like__button {
          border-bottom: 1px solid black;
          border-top: 1px solid black;
          text-align: center;
          button {
            font-weight: 900;
            padding: 8px;
            width: 95%;
            background-color: white;
            border-radius: 5px;
            margin: 5px;
            &:hover {
              background-color: rgb(236, 236, 236);
            }
            i {
              font-size: 15px;
              padding: 0px 5px;
            }
          }
        }
      }
      .card__footer2 {
        display: grid;
        align-items: center;
        grid-template-columns: 0.3fr 3fr 0.9fr;
        padding: 20px;
        img {
          width: 30px;
          height: 30px;
          display: inline-block;
          border-radius: 50%;
          background-size: cover;
          background-position: center;
        }
        textarea {
          width: 100%;
          height: 30px;
          width: 100%;
          resize: none;
          border-radius: 15px;
          background-color: rgb(236, 236, 236);
          padding: 5px;
        }
        .emoji__row {
          text-align: center;
          i {
            padding: 5px;
            font-size: 20px;
            &:hover {
              background-color: rgb(236, 236, 236);
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

.righ__part {
  border: 1px solid black;
}
