.header {
  width: 100%;
  height: 65px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px rgba(167, 160, 160, 0.4);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 180px;
  font-family: $font1;
  .search {
    display: flex;
    align-items: center;
    i {
      color: rgb(55, 55, 167);
      font-size: 40px;
      margin-left: 10px;
    }
    input {
      width: 220px;
      height: 40px;
      border-radius: 30px;
      background-color: rgb(236, 236, 236);
      margin-left: 10px;
      padding: 10px;
      font-size: 14px;
      &::placeholder {
        color: rgb(148, 148, 148);
        padding: 10px;
        font-size: 14px;
      }
    }
  }
  .public__info {
    display: flex;
    align-items: center;
    justify-content: center;
    .home__button {
      width: calc(85% / 5);
      text-align: center;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      border-bottom: 2.5px solid rgb(55, 55, 167);
      i {
        font-size: 25px;
        color: rgb(55, 55, 167);
      }
    }
    .menu__button {
      width: calc(85% / 5);
      text-align: center;
      border-radius: 8px;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      &:hover {
        background-color: rgb(236, 236, 236);
      }
      i {
        font-size: 25px;
        color: rgb(105, 105, 105);
      }
    }
  }
  .personal__info {
    display: flex;
    align-items: center;
    .user {
      height: 45px;
      display: flex;
      align-items: center;
      border-radius: 50px;
      padding: 0px 10px;
      &:hover {
        background-color: rgb(236, 236, 236);
      }
      .user__img {
        margin-left: 2px;
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 50%;
        background-image: url(../img/user.jpg);
        background-size: cover;
        background-position: center;
      }
      p {
        padding-left: 10px;
        font-weight: 900;
      }
    }
    .menu__btn {
      width: 45px;
      text-align: center;
      border-radius: 8px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: rgb(236, 236, 236);
      margin: 3px;
      &:hover {
        background-color: rgb(219, 219, 219);
      }
      i {
        color: rgb(105, 105, 105);
        font-size: 18px;
      }
    }
  }
}

.body__wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 245, 245);
  display: grid;
  grid-template-columns: 1.2fr 3fr 1.2fr;
  grid-gap: 110px;
  font-family: $font1;
  padding: 90px 20px 20px 20px;
  .left__part {
    display: grid;
    grid-template-rows: 2fr 2fr;
    .user__groups {
      display: inline-block;
      width: 100%;
      padding: 10px;
      border-bottom: 2px solid rgb(219, 219, 219);
      .user {
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        &:hover {
          background-color: rgb(236, 236, 236);
        }
        .user__img {
          width: 30px;
          height: 30px;
          display: inline-block;
          border-radius: 50%;
          background-image: url(../img/user.jpg);
          background-size: cover;
          background-position: center;
        }
        .user__name {
          padding-left: 10px;
          font-weight: 900;
        }
      }
      .item {
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        &:hover {
          background-color: rgb(236, 236, 236);
        }
        i {
          margin-left: 2px;
          font-size: 30px;
          color: rgb(55, 55, 167);
        }
        p {
          padding-left: 10px;
        }
      }
      .item__more {
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        &:hover {
          background-color: rgb(236, 236, 236);
        }
        i {
          margin-left: 2px;
          font-size: 30px;
          color: rgb(55, 55, 167);
          padding: 0px 5px;

        }
        p {
          padding-left: 10px;
        }
      }
    }
    .user__shortcuts {
      display: inline-block;
      width: 100%;
      padding: 10px;
      h3 {
        font-size: 18px;
        color: rgb(133, 133, 133);
        padding: 10px;
      }
      .item {
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        &:hover {
          background-color: rgb(236, 236, 236);
        }
        i {
          margin-left: 2px;
          font-size: 30px;
          color: rgb(55, 55, 167);
        }
        p {
          padding-left: 10px;
        }
      }
      .item__more {
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        &:hover {
          background-color: rgb(236, 236, 236);
        }
        i {
          margin-left: 2px;
          font-size: 30px;
          color: rgb(55, 55, 167);
          padding: 0px 5px;

        }
        p {
          padding-left: 10px;
        }
      }
    }
  }
}

.middle__part {
  width: 100%;
  overflow: scroll;
  display: inline-block;
  padding: 20px;
  &::-webkit-scrollbar {
    display: none;
  }
  .card {
    width: 95%;
    margin-left: 2.5%;
    height: 300px;
    border-radius: 15px;
    border: 1px solid red;
    margin-top: 20px;
    &:first-of-type{
      margin-top: 30px;
    }
    &:last-of-type {
      margin-bottom: 30px;
    }
  }
}

.righ__part {
  border: 1px solid black;
}